/* universal styles */
* {
    /* border: red 1px solid; */
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

/* Header */
header {
    /* position: fixed; */
    background-color: white;
    width: 100%;
}

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

header .logo {
    flex: 1;
}
/* .logo h3 {
    font-style: ;
} */

nav a {
    color: black;
    text-decoration: none;
}

/* Main */
.banner {
    /* background-image: url(../assets/andrej-lisakov-fGZ2x8wFxC0-unsplash.jpg); */
    background: #b1cbb3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    justify-content: center;
    text-align: center;
}

main .description {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

/* footer */