/* universal styles */
body {
    /* border: red 1px solid; */
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Cabin', Sans-Serif;
    /* font-size: 16px; */
    color: #020402;
    margin: 0;
    padding:0;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #62A8AC;
}

/* Header */
header {
    display: block;
    background-color: white;
    position: fixed;
    padding: 10px 20px;
    width: 100%;
}

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

header .logo {
    flex: 1;
}

.logo h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

/* .logo h3 {
    font-style: ;
} */

nav a {
    color: black;
}

h1 {
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 32px; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Main */
main {
    background: #d2e6d4;
    /* background-image: url(../assets/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  */
    /* display: flex; */
}

.banner {
    /* background: #d2e6d4; */
    min-height: 500px;
    /* flex: 1; */
    justify-content: center;
    text-align: center;
}

main .description {
    display: block;
    text-align: center;
    margin: auto;
    /* display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center; */
}

.description p {
    font-size: 18px;
    color:rgba(51, 51, 51, 0.783);
}

/* Contact Section */
#contact {
    /* background: #b1cbb3; */
    /* background-color: rgba(13, 27, 46, 0.94); */
    background-color: #020402;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

#contact .container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 60px;
    width: 100%;
}

.contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-content {
    flex: 2;
}

i {
    font-size: 25px;
    color: #E5E7EB;
}

i:hover {
    color: #62A8AC;
}

/* Footer */
#footer {
    /* background-color: rgba(13, 27, 46, 0.94); */
    background-color: #020402;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .container {
    height: 60px;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
}

footer a {
    color: #E5E7EB;
    text-decoration: none;
}

footer a:hover {
    color: #62A8AC;
}
