body {
    max-width: 60em;
}

div.outer {
    display: flex;
    flex-direction: column;
}

header {
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 2px 2px darkslategrey;
    background-image: url(/assets/images/juno-jupiter3.jpg);
    background-size: 60em;
    color: whitesmoke;
    padding: 3em 3em 1em 0.5em;
    background-color: black;
}

header ul li {
    display: inline-block;
}

header ul li a:link {
    color: aliceblue;
}

header ul li a:visited {
    color: aliceblue;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(206, 214, 216);
    padding: 1em 1em 1em 1em;
}

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card {
    background-color: aliceblue;
    padding: 1em;
    width: 20%;
    border: 2px solid rgb(53, 55, 56);
    border-radius: 3px;
    min-width: 12em;
    margin: 1em;

}