body {
    font-family: "Georgia", serif;
    font-size: 36px;
    text-decoration: none !important;
    color: #323334;
    background-color: #F5F5EF;
    min-height: 680px;
    max-height: fit-content;
}

title {
    display: none;
}

header, footer {
    font-family: "Palatino", serif;
    height: 95px;
    justify-content: space-between;
    color: #4e5a65;
    background-color: #FDFDFD;
    padding: 2.5em;
    margin: auto;
}

#logo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    background-color: #EEE3DE;
    color: #0f3b53;
    border-radius: 8px;
    padding: 5px;
}

section {
    height: fit-content;
    color: #323334;
    font-size: 38px;
}

nav {
    font-size: 34px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    color: #0f3b53;
    margin: 0 10px;
}

nav li {
    width: 250px;
    text-align: right;
    text-decoration: none;
    margin: 3%;
    float: right;
    display: inline-block;
    justify-content: space-evenly;
}

a:hover {
    color: #eadfc1;
}

a:visited {
    color: #4e6559;
}

.hero-text {
    font-family: "Palatino", serif;
    text-align: left;
    color: #0f3b53;
    margin-left: 160px;
    margin-bottom: 200px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

h1 {
    font-size: 86px;
    margin-top: 1.4em;
    padding-left: 22px;
}

h2 {
    font-size: 62px;
    font-style: italic;
    align-items: left;
    padding-left: 25px;
    margin:0;
}

h3 {
    font-size: 48px;
    padding: 15px;
    margin: 0;
}

p {
    margin: 35px;
    padding-bottom: 0.8em;
    font-weight:400;
    line-height: 135%;
}

.home-sub {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 80px;
}

.headshot {
    width: 460px;
    height: 460px;
    border-radius: 10%;
    margin: 0 20px;
}

.headshot-container {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-right: 10px;
    padding: 40px;
}

.intro {
    justify-content: center;
    align-items: center;
    display: flexbox;
    padding: 0;
    margin: auto;
}

#social-footer {
    color: #0f3b53;
    display: block;
    text-align: center;
    text-decoration: none !important;
    justify-content: space-between;
    align-items: center;
    margin: auto
}

footer p {
    margin: 0;
    padding: 0;
}

footer ul, footer li {
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    display: inline;
    margin: 0 45px;
}

.content {
    display: inline-block;
    justify-content: space-around;
    padding: 0 80px;
}

.skills ul {
    list-style-type: circle;;
    margin: 0 0 20px;
    padding-left: 60px;
}

.more:last-child {
    margin-bottom: 60px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.proj-card {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    width: 900px;
    height: 350px;
    border: 1px solid yellow;
    margin: 60px;
    padding: 40px;
    background-color: #D7CAB1;
}