body {
    background-color: rgba(92, 250, 232, 0.525);
    font-family: 'Courier New', Courier, monospace; 
} 

h1 {
    color: rgb(2, 51, 49); 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
}

li {
    background:rgb(127, 178, 236);
    padding: 10px 18px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin: 200px 0;
    border-radius: 5px;
}

p1 {
    display: flexbox;
}


/* li {

    display: flex;
    width: 5em;
    margin: 1em;
    border-radius: 5em;
    border-left: 3em;
    background-color: aquamarine;

} */