* {
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

.links {
    position: relative;
    left: 700px; 
    width: 80%;
    height: 40vh;
    background: white;
    font-size: 25px;
} 

nav {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
} 

/* removes bullets, displays all on 1 line */
ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px; 
}

ul, li, a {
    text-decoration: none;
    color: #c6fbf9;
    font-weight: bold;
}  

ul, li, a:hover{
    color: #fbd7c6;
}

.thao {
    margin-left: 6%;
    margin-top: 13%;
}

.thao h1 {
    font-size: 90px;
    color: #c6d0fb;
    margin-bottom: 10px;
}

span {
    color: #c6fbce;
    line-height: 22px;
}

p {
    color: #f7c6fb;
    font-size: 20px;
}
/* PORTFOLIO BUTTON */
.thao a{
    background: #c6fbf9;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #faffdb;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 3px;
}

.thao a:hover{
    color: #ffebe0;
}

h4 {
    color: rgb(188, 206, 251);
    font-weight: bold;
    text-align: right;
}