#aboutme-img {
    width: 100%;
}

.aboutme-container {
    display: grid;
    grid-template: 1px 1fr 1fr / 1fr 2fr 1fr;
    grid-template-areas: 
        ". pc ."
        "tb pc bb"
        ". pc .";
    column-gap: 10px;
    border: 2px dashed red;
    /* justify-content: space-evenly; */
}

.pic-box {
    grid-area: pc;
    align-self: end;
}

.topbox {
    grid-area: tb;
    text-justify: right;
}

.bottombox {
    grid-area: bb;
}

.contentbox, main div{
    border: 5px dotted rgb(0,0,205);
    align-self: center
}
