/* debug */
/* * {
    border: 1px;
    border-style: solid;
    border-color: black;
}  */

article div {
    overflow: hidden;
    padding: 0px 0px 10px;
}

article img {
    width: 33vw;
    height: auto;
    margin: 0px 2vw;
    float: left;
}

article p {
    font-size: 12pt;
    line-height: 3vmax;
    text-align: justify;
    margin: 5px 0px 2vw;
}