.content {
    text-align: left;
    padding-right: 10%;
    padding-left: 3%;
}

.content p {
    font-size: 0.4em;
    max-width: 30em;
}

.content h2 {
    font-size: 0.7em;
}

.portfolio {
    padding-left: 0;
    color: #777;
}

.portfolio p {
    font-size: 1em;
    color: #9ba1a6;
    margin-top: .05em;
}