@import url("fonts.css");

html {
    background-color: #f2f3f3;
}

body {
    font-family: 'Nunito';
    margin: 0;
}

/* Page layout */
.page_grid {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template: 75px auto auto / 100%
}

ul {
    list-style: none;
    margin: 0;
    border: 0;
    min-height: 100px;
}

ul a {
    text-decoration: none;
    color: #494e52;
}

ul a:hover {
    color: black;
}

/* Header - Grid Row 1 */
.header {
    border-bottom: 1px solid #bdc1c4;
    background-color: #EAF4F4;
}

.menu_bar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 30px;
    padding-right: 30px;
    justify-content: right;
}

.menu_bar img {
    width: 1em;
    height: auto;
}

.menu_bar ul {
    font-size: 1.15em;
}

.menu_bar a.active {
    text-decoration: underline;
}


/* Main Content - Grid Row 2 */
.middle_row {
    background-color: #fff;
    padding-top: 2.5em;
    padding-bottom: 3em;
}

.middle_content {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0 auto;
    flex-wrap: wrap;
    grid-row: 2;
}

.side_bar {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    text-align: center;
    align-items: center;
}

.side_bar p {
    margin: 0;
    padding: 2px;
    padding-top: 7px;
    font-size: 18px;
    color: #494e52;
}

.profile_image {
    width: 9em;
    border-radius: 50%;
    border: 2px solid #bdc1c4;
    background-color: black;
}

address a {
    padding: 2px;
    font-style: normal;
    color: #9ba1a6;
    font-size: 16px;
    text-decoration: none;
}

address img {
    width: 1em;
    padding-right: 5px;
}

.content {
    font-size: 1em;
    margin-top: 1em;
    padding-top: 20px;
    padding-left: 3%;
    color: #9ba1a6;
    margin: 0;
    max-width: 33em;
}

.content ul {
    padding: 0;
}

.content p {
    font-size: 1em;
    margin-top: 0.05em;
}

.content h1, .content h2 {
    margin: 0;
    color: #777;
    /* text-align: center; */
}

.content h1 {
    font-size: 35px;
}

/* Menu bar images */
.contact {
    padding-top: 2px;
}


/* Home page unique styles */
.home .content h1 {
    font-family: 'Rancho';
    font-size: 7.5em;
    color:#9ba1a6;
}   

.home .content h2 {
    font-size: 3.8em;
    color: #777;
    line-height: 1em;
}

@media screen and (max-width: 600px) {
    .home .content {
        text-align: center;/* Apply some styles */
        line-height: .9;
    }
    .home .content h2 {
        font-size: 3em;
        margin-top: 1em;
    }
}

/* Portfolio page unique styles */
ul.portfolio {
    padding-top: 10px;
}

ul.portfolio a {
    font-size: 18px;
}


/* Footer - Grid row 3 */
footer {
    text-align: left;
    border-top: 1px solid #bdc1c4;
    font-size: 1em;
    background-color: #f2f3f3;
    color: #9ba1a6;
    padding-left: 15px;
    min-height: 6em;
}




