h1 {
    font-family: Impact, fantasy;
    font-size: xx-large;
    text-align: center;
    text-decoration-line: underline;
    color: blue;
    background: #F0F8FF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
body {
    background-color:#F0F8FF;
}

nav {
    width: 100%;
}

main, ul {
    font-size: medium;
    text-align: center;
}

li {
    display: inline;
    margin: 1em;
}

h2 {
    font-family: Impact, fantasy;
    text-align: center;
    text-decoration-line: underline;
    color: blue;
}
h3 {
    font-family: Impact, fantasy;
    text-align: center;
    text-decoration-line: underline;
    color: blue; 
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
