@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&display=swap');

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color:#dae1e7; 
    /* background-color: #FDF5DF;*/
    font-family:sans-serif;
}

.navbar {
    width: 100%;
    color: #fff;
    background-color: #5EBEC4;/* original:#456d96; */
    height: 70px;
}

.navbar .container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
}

.logo {
    font-family: 'Berkshire Swash';
    font-size: x-large;
    color:#F92C85
}
span{
    color:#fff;
    font-family: 'Berkshire Swash', cursive;
} 
nav{
    display: flex;
}

nav ul {
    display: flex;
    margin-right: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    margin:0px 10px;
    text-transform: capitalize;/*added later */
    font-weight: bold;/*added later */
}
nav ul li  a:hover { /*added later */
    transition: 0.4s ease;
    color: #F92C85; 
}

.navbar .button a {
    text-decoration: none;
    background-color: #fff;
    color: #5EBEC4;
    /* original:#456d96; */
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold; /*added later */

}
.navbar .button a:hover {
    background-color: #ddd;
    color: #F92C85;
    transition: 0.4s ease;
     /*added later */
    
}
/*double check content section below*/
.content{
    display: flexbox;
    width: 80%;
    align-items:center;
    position: absolute; 
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    font-weight: normal;
}
.content h1 {
    color: #00909e;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.content h1 span{
    color: #F92C85;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.content h3 {
    color: #00909e;
    font-size: 25px;
    margin-bottom: 50px;
}
.content h4 {
    color: #79a3b1;
    letter-spacing: 2px;
    font-size: 20 px;
}
/* About page */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #dae1e7;
    color:#00909e
}
.about img {
    height: auto;
    width: 200px;
    border-radius: 20%;
    border-style: double;
    color: #fff;
}
.about-text{
    max-width: 550px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    padding-top: 10%;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5 span {
    color:#F92C85
}
.about-text h5 {
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p {
    color:#00909e;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Portfolio Page */
.projects {
    background: #dae1e7;
    width:100%;
    padding: 10px 0px;
}

.title h2{
    color: #00909e;
    font-size: 70px;
    /* width: 1130px; */
    width:100%;
    /* position:relative; */
    margin: 30px auto;
    text-align: center;
}

.box {
    padding: 3em;
    position:relative;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.card {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,.1);
}
.card i{
    font-size: 50px;
    display: block;
    color: #F92C85;
    text-align: center;
    margin:25px 0px;
}
card h5 {
    color:#00909e;
    font-size: 23px;
    margin-bottom: 15px;
}
.card p {
    margin-top: 0;
    color: #00909e;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
