/* * {
    border: red 1px solid;
} */
.container {
    display: grid;
    grid-template: 20% 80% / 70% 30%;
}

.header {
    grid-column: 1/ 2;
    background-color: azure;
    justify-content: flex-end;
}

.nav {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    background-color: aquamarine;
    justify-content: flex-end;
}

#profile_picture {
    width: 70%;
    height: auto;
}

