
h1 {
    font-size: 3em;
    text-align: center;
}


img:hover {box-shadow: 0 0 2px 1px rgba(50, 51, 52, 0.5);}

nav {
    display:flex;
    font-size: 1.25em;
    height: 75px;
    max-width: 95%;
    box-shadow: 0 5px 6px -6px rgb(71, 69, 69);
    align-items: center;
    justify-content: space-between;
    padding: 10px 
}

p.title {text-align: center;}
ul.topnav li {
    margin-right: 20px;
}

ul.topnav {display:flex;
    align-items: center;
    }

ul.projects {
    display: flex;
    min-height: 200px;
    flex-flow: row wrap;
    align-items: flex-start;
    /* text-align:justify; */
}

ul.projects li {flex:0 0 400px;}

#linkedin {
    color: rgb(159, 121, 121);
font-weight: bold;}


@media (max-width: 700px){
    h1 {
        font-size: 2em;
    }
    nav {
        flex-direction: column;
        padding: 20px;}
}

