.gridcontainer {
    width: 50vw;
    height: 60vh;
    display: grid;
    border: 1px solid black;
    background-color:rgba(232, 65, 163, 0.3);
    text-align: center;
    margin: auto;
    color: black;
}

.middlerow {
    background-color: rgba(12, 238, 238, 0.3);
}

body {
background-image: url("/images/laptopnotebook.webp"); 
}


