

div {
  margin: auto;
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-columns:20% 20% 20% 20% 20%;
  grid-template-rows: repeat(5,20); 
}

article {
  background-color: white;
  align-items:flex-end;
  grid-column: 1 / 2 ;
}

article #as {
  width: 6cm;
  height: 6cm;
}

header {
  grid-column: 2 / -1;
  border: 5px dotted gainsboro;
  padding: 15px;
  background-clip: content-box;
}

h1 {
  color: orangered;
  font-family:cursive;
  font-weight: bolder;
  font-style: normal;
  text-align: center;
  font-size: 1cm;
} 

aside {
  grid-row: 2 / 6;
}

nav {
  text-align: center;
  align-items:stretch;
}

a {
  color: gray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1cm;
  font-weight: bolder;
  font-style: normal;
}

main {
  grid-column: 2 / span 4;
  grid-row:  2 / span 4;
  color: gray;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .5cm;
  text-align: center;
}

#seattle {
  width: 8cm;
  height: 6cm;
}

footer {
  grid-column: 1 / 2; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8cm;
  text-align: left;
  color: gray
}


a img{
  justify-content:flex-start;
  width: .9cm;
  height: .7cm;
}





































































