body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27.93px;
    text-transform: none;
    color: #131e13;
}

h1 {
    font-family: TimesNRMTStd-BoldCond;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 70.4px;
    text-transform: uppercase;
}

.title {
    color: #8a0616;
}