body {
    background-image: url("/images/4853433.jpg");
}

header a {
    color: gray;
    font-family:fantasy;
    font-size: .8cm;
    text-align:left;
    font-weight: bolder;
    font-style: normal;
    }

h1 {
    grid-column: 3 / -1;
    border: 5px dotted gainsboro;
    padding: 15px;
    /* background: lightblue; */
    background-clip: content-box;


    color: gray;
    font-family:fantasy;
    font-size: .8cm;
    text-align: center;
    text-shadow: 2in;
    }