

header a {
    color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8cm;
    text-align:left;
    text-shadow: 2in;
    font-weight: bolder;
    font-style: normal;
    }


#interest {
    color: gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8cm;
    text-align: center;
    text-shadow: 2in;
}

section {
    display:flex;
    justify-content:space-evenly;
    flex-direction: row;
}

.picture-text { 
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .6cm;
    font-weight: bold;
}

section img {
    width: 250px;
    height: 250px;
}
