body {
    /* background-image: url("/images/pythoncode.jpeg"); */
    background-color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(237, 6, 141);
    border-color: pink;
    border-style: dotted;
    text-align: center;
}

h2 {
    color: cornflowerblue
}

img {
    width: 300px;
    height: auto; 
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}